.header{
  margin-top: 12px;
}
.header a{
  text-decoration: none;
  margin-right: 12px;
  padding: 5px 12px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
  color: black;
}
.header a:hover{
  background-color: blueviolet;
  color: white;
}